.grainient-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: #a8c6fe;
}

.grainient-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
