.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  border-radius: 23px;
  width: 100%;
  height: 100%;
}
